$color-background-first: #f2f4f4;
$color-background-second: #f9f4ee;
$color-accent: #f97517;
$color-text-first: #333333;
$color-text-second: #4a4a4a;
$color-white: #ffffff;
$color-gray: #b1b1b1;

$mobile-width: 375px;
$tablet-width: 1024px;
$desktop-width: 1440px;

$mobile-width-only: 1023px;
