.nav-list {
  @include list-reset;
  margin: 0;
}

.nav-list__item {
  margin-bottom: 16px;
}

.nav-list__button {
  display: block;
  margin-left: auto;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: $color-white;
  text-align: end;

  &:active {
    color: $color-accent;
  }
}

@media (min-width: $tablet-width) {
  .nav-list {
    display: flex;
    margin-left: 45px;
    flex-wrap: wrap;
  }

  .nav-list__item {
    margin-bottom: 0;
  }

  .nav-list__button {
    margin: 0;
    padding: 8px 12px;
    line-height: 20px;
    text-decoration: none;
    color: $color-text-second;
    text-align: center;

    &:hover {
      color: $color-text-first;
      opacity: 0.7;
    }

    &:active {
      color: $color-accent;
    }
  }
}

@media (min-width: $desktop-width) {
  .nav-list {
    margin-left: 90px;
  }

  .nav-list__button {
    padding: 8px 16px;
  }
}
