@use "common/forwarded.scss" as f;

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100%;
  font-family: "Monserrat", "Arial", sans-serif;
  font-size: 15px;
  line-height: 24px;
  background-color: f.$color-background-first;
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  @include f.visually-hidden;
}
