//Global
@import "common/variable";
@import "common/mixins";
@import "global";
@import "blocks/main/button";

//Nav
@import "blocks/header/main-header";
@import "blocks/header/main-nav";
@import "blocks/header/nav-list";

//Main
@import "blocks/main/main-container";
@import "blocks/main/title";

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/montserrat.woff2") format("woff2"), url("../fonts/montserrat.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/montserratbold.woff2") format("woff2"), url("../fonts/montserratbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
